#app_root {
  .sider-bar {
    background-color: #ddd;
    width: 25%;
    padding: 20px;

    h2 {
      color: #555;
    }

    ul {
      padding: 0px;
    }

    li {
      list-style-type: none;
      color: #444;
    }
  }
}
